<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="admin/snippets/head.html"></head>

<header th:insert="admin/snippets/header.html"></header>

<body>


<div class="admin-container">


    <div class="item-container">

        <div class="baslik">
            <label>POSTS</label>
        </div>

        <input type="text" value="Merhaba">

        <input type="button" value="sa">

        <label for="select">Seç</label>
        <select id="select">
            <option>dfsdf</option>
            <option>dfsdf</option>
            <option>dfsdf</option>
            <option>dfsdf</option>
            <option>dfsdf</option>
        </select>



        <textarea class="ck">asas</textarea>


        <table>
            <thead>
            <tr>
            <td>ID</td>
            <td>İSİM</td>
            <td>Başlık</td>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>1</td>
                <td>OKAN</td>
                <td>SPYGÜR</td>

            </tr>
            <tr>
                <td>1</td>
                <td>OKAN</td>
                <td>SPYGÜR</td>

            </tr>       <tr>
                <td>1</td>
                <td>OKAN</td>
                <td>SPYGÜR</td>

            </tr>
            <tr>
                <td>1</td>
                <td>OKAN</td>
                <td>SPYGÜR</td>

            </tr>

            </tbody>
        </table>

    </div>




</div>



</body>

<footer th:insert="admin/snippets/footer"></footer>
</html>