<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<!-- snippets/head.html dosyasının içerisindeki head tag'ındaki her şeyi insert et (thymeleaf kullanmanın avantajları) -->
<head th:insert="snippets/head.html"></head>



<body>

<!-- snippets/header.html dosyasının içerisindeki header tag'ındaki her şeyi insert et (thymeleaf kullanmanın avantajları)  -->
<header th:insert="snippets/header.html"> </header>

<!-- <a th:text="${user}"></a> -->


<main class="anasayfa">



            <!-- Swiper -->
            <div class="swiper anasayfaSlider">
                <div class="swiper-wrapper">
                    <th:block th:each="slider : ${sliders}">

                        <div class="swiper-slide" th:alt="${slider.getTitle()}">
                            <a th:href="${slider.getUrl()}">
                            <img th:src="${slider.getImg_url()}">
                            </a>
                        </div>

                    </th:block>

                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>




    <!-- en son gönderilen 10 post -->


    <div class="container">

        <div class="row">

            <div class="col-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">








                <th:block th:if="sonOnSayfalar != null">

                 <h2 class="list-baslik">Recently Posts</h2>

                </th:block>

                <th:block th:each="sonOnSayfa : ${sonOnSayfalar}">

                <div class="list">


                    <div class="row">



                        <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">

                            <a  th:href="@{'/pages/' + ${sonOnSayfa.getSlug()}}">

                                <img class="list-img" th:src="${sonOnSayfa.getImgUrl()}">

                            </a>
                            
                        </div>


                        <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">

                            <p class="date" th:text="${sonOnSayfa.getCreatedTime()}"></p>

                            <div class="aciklama">

                               <a  th:href="@{'/pages/' + ${sonOnSayfa.getSlug()}}"> <h2 th:text="${sonOnSayfa.getTitle()}"></h2></a>

                                <!-- gelen datanın ilk 150 karakterini gösterelim gerikalanı ... şeklide gösterelim. #strings.abbreviate() -->
                                <p th:text="${#strings.abbreviate(sonOnSayfa.getShort_data(),150)}"></p>


                            </div>



                        </div>




                    </div>

                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

                            <div class="categorie">


                                <!-- Bütün kategorileri each ile döndürelim -->
                                <th:block th:each="categorie : ${categories}">

                                    <!-- ilgili postun categorie.id değeri ile dönen categorie'nin id değeri eşleşiyor ise categorie başlığını yazalım. -->
                                    <th:block th:if="${categorie.getId() == sonOnSayfa.getCategorieId()}">

                                       <a th:href="${'/categories/'+categorie.getSlug()}"> <p th:text="${categorie.getTitle()}"></p></a>

                                    </th:block>


                                </th:block>

                            </div>

                        </div>
                    </div>


                </div>

                </th:block>


            </div>


        </div>

    </div>




</main>










</body>
<!-- snippets/header.html dosyasının içerisindeki header tag'ındaki her şeyi insert et (thymeleaf kullanmanın avantajları)  -->
<footer th:insert="snippets/footer.html"></footer>
</html>