<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<!-- snippets/head.html dosyasının içerisindeki head tag'ındaki her şeyi insert et (thymeleaf kullanmanın avantajları) -->
<head th:insert="snippets/head.html"></head>



<body>

<!-- snippets/header.html dosyasının içerisindeki header tag'ındaki her şeyi insert et (thymeleaf kullanmanın avantajları)  -->
<header th:insert="snippets/header.html"> </header>

<!-- <a th:text="${user}"></a> -->


 sa

<a th:text="${slug}"></a>




</body>
<!-- snippets/header.html dosyasının içerisindeki header tag'ındaki her şeyi insert et (thymeleaf kullanmanın avantajları)  -->
<footer th:insert="snippets/footer.html"></footer>
</html>